<nav class="navbar logo-nav">
</nav>

<div class="jeopardy-board">
{{!-- CATEGORIES --}}
    <div class="card-group panel-row categories-row">
        {{#each categories}}
        <div class="card board-panel">
            
            <div class="card-body">
                <div class="category-title">{{this}}</div>
                <p class="card-text"></p>
            </div>

        </div>
        {{/each}}
    </div>

{{!-- $100 / $200 --}}
    <div class="card-group panel-row panel1">
        {{#each row1}}
        <div class="card board-panel" onclick="viewQuestion('{{this.question}}', '{{this.answer}}')">
            <div class="card-body">
                <div class="card-title">${{this.value}}</div>
                <p class="card-text"></p>
            </div>
        </div>
        {{/each}}

    </div>

{{!-- $200 / $400 --}}
    <div class="card-group panel-row panel2">
        {{#each row2}}
        <div class="card board-panel">
            <div class="card-body">
                <div class="card-title">${{this.value}}</div>
                <p class="card-text"></p>
            </div>
        </div>
        {{/each}}
    </div>

{{!-- $300 / $600 --}}
    <div class="card-group panel-row panel3">
        {{#each row3}}
        <div class="card board-panel">
            <div class="card-body">
                <div class="card-title">${{this.value}}</div>
                <p class="card-text"></p>
            </div>
        </div>
        {{/each}}
    </div>

{{!-- $400 / $800 --}}
    <div class="card-group panel-row panel4">
        {{#each row4}}
        <div class="card board-panel">
            <div class="card-body">
                <div class="card-title">${{this.value}}</div>
                <p class="card-text"></p>
            </div>
        </div>
        {{/each}}
    </div>

{{!-- $500 / $1000 --}}
    <div class="card-group panel-row panel5">
        {{#each row5}}
        <div class="card board-panel">
            <div class="card-body">
                <div class="card-title">${{this.value}}</div>
                <p class="card-text"></p>
            </div>
        </div>
        {{/each}}
    </div>

</div>

<div class="modal fade" id="selectQuestion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-body p-4" id="result">
                <div class="row question-row">
                    <div class="modal-text" id="questionText"></div>
                </div>


            <div class="row answer-row">
                <div class="modal-text" id="answerText"></div>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<script>
    function viewQuestion (question, answer) {
        $('#selectQuestion').modal();
        $('#questionText')[0].innerText = question;
        $('#answerText')[0].innerText = answer;
    }
</script>